<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.onlinecourseampe_learningapp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_Main"
            android:exported="false" />
        <activity
            android:name=".MainActivityVerifyCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Validation_Phone"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Forgot"
            android:exported="false" /> <!-- شاشة الترحيب هي أول شاشة -->
        <activity
            android:name=".Welcom_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- شاشة المشاركة (بعد الترحيب) -->
        <activity
            android:name=".Main_Activity_part"
            android:exported="true" /> <!-- شاشة تسجيل الدخول -->
        <activity
            android:name=".MainActivity_sign"
            android:exported="false" /> <!-- شاشة الاشتراك -->
        <activity
            android:name=".Sign_up"
            android:exported="false" /> <!-- شاشة تسجيل الدخول البديلة -->
        <activity android:name=".ActivityMainSignIn" />
    </application>

</manifest>